<h1>Look alive, <%= current_user.username %>!</h1>

<h2 id="performance">Here is your performance assessment: </h2>

<% current_user.rounds_sorted_by_deck.sort.each do |deck_name, rounds| %>

	<h3><%= deck_name %></h3>

	<table>
		<tr>
			<th>First Guess Correct</th>
			<th>Cards in Deck</th>
			<th>Efficiency</th>
			<th>Total Guesses</th>
			<th>Date Played</th>
		</tr>

	<% rounds.each do |round| %>
		<tr>
	    <td> <%= round.stats[:first_tries] %> </td>
	    <td> <%= round.stats[:cards_in_deck] %> </td>
	    <td> <%= round.stats[:efficiency] %>% </td>
	    <td> <%= round.stats[:total_guesses] %> </td>
	    <td> <%= round.stats[:played_date].strftime("%m/%d/%Y at %I:%M%p") %> </td>
	  </tr>
	<% end %>

	</table>

<% end %>

<form method="get" action="/">
  <input type="submit" value="Return to Barracks">
</form>


