<h1>Look alive, <%= current_user.username %>!</h1>

<p>Here is your performance assessment: </p>

<table>
	<tr>
		<th>Deck Name</th>
		<th>Cards in Deck</th>
		<th>First Guess Correct</th>
		<th>Total Guesses</th>
		<th>Date Played</th>
	</tr>

<% current_user.rounds.each do |round| %>
	<tr>
    <td class="firstcolumn"> <%= round.stats[:deck_name] %> </td>
    <td> <%= round.stats[:cards_in_deck] %> </td>
    <td> <%= round.stats[:first_tries] %> </td>
    <td> <%= round.stats[:total_guesses] %> </td>
    <td> <%= round.stats[:played_date] %> </td>
  </tr>
<% end %>

</table>

<form method="get" action="/">
  <input type="submit" value="Return to Barracks">
</form>


