<h1 class="pagetitle"><%= @deck.name %></h1>

<!-- display the deck.subject -->
<% if @deck.subject %>
  <h3> <%= @deck.subject %> </h3>
<% end %>

<div class="flashcard">
	<div class="engraving"><span class="question"><%= @card.question %></span></div>
</div>

  <form method="post" action="/guesses">
    <input name="round" type="hidden" value="<%= @round.id %>"/>
    <input name="card" type="hidden" value="<%= @card.id %>"/>
    <input name="guess" type="text" placeholder="Answer here..." autofocus />

    <input type="submit" value="Sir!">
  </form>
</div>
